In [1]:
import pandas as pd
import numpy as np

In [4]:
sample_submission1 = pd.read_csv('submission_with_stacking.csv', index_col=0)
sample_submission2 = pd.read_csv('submission_with_featureselection2.csv', index_col=0)
sample_submission3 = pd.read_csv('submission_dnn.csv', index_col=0)

In [5]:
sample_submission1['log_meter_reading']=np.log1p(sample_submission1['meter_reading'])
sample_submission2['log_meter_reading']=np.log1p(sample_submission2['meter_reading'])
sample_submission3['log_meter_reading']=np.log1p(sample_submission3['meter_reading'])

In [10]:
df_test = pd.read_csv('data/test.csv')

In [11]:
ens=pd.DataFrame()
ens['row_id']=df_test["row_id"]
ens['meter_reading']=np.expm1((sample_submission1['log_meter_reading']+sample_submission2['log_meter_reading']\
                             +sample_submission3['log_meter_reading'])/3.0)

In [12]:
ens.head(10)

   row_id  meter_reading
0       0      95.619684
1       1      32.598126
2       2      10.127387
3       3     156.431582
4       4     610.324692
5       5      15.326452
6       6      80.330874
7       7     414.746994
8       8     648.741770
9       9     246.631004

In [13]:
ens.to_csv("ensemble_avg.csv", index=False)